<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>foreach my ${1:var} (${2:array}) {
	${3:' body}
}</string>
	<key>name</key>
	<string>foreach …</string>
	<key>scope</key>
	<string>source.apache-asp</string>
	<key>tabTrigger</key>
	<string>foreach</string>
	<key>uuid</key>
	<string>7D6BE8AC-63AB-11D9-B316-000A95CA2CD0</string>
</dict>
</plist>
